body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #4a90e2;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 px 5px rgba(0,0,0,0.1);
}

header h1{
  margin: 10;
  font-size: 2rem;
}

main{
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,);
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main p {
  line-height: 1.6;
  margin-bottom: 15px;
}


.card {
  background-color: #e3f2fd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

