.lessonContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
}

.myInput {
  width: 100%;
  padding: 6px;
}

.errorMessage{
  color: red
}