.heroCard {
  max-width: 480px;
  padding: 10px 40px 10px;
  border: 1px solid;
  border-radius: 10px;
  margin: 6px;
}

.heroCardImgWrapper {
  overflow: hidden;
  border-radius: 20%;
  height: 300px;
}

.heroCardLight {
  border: 2px solid rgb(0, 98, 255);
}

.heroCardDark {
  border: 2px solid red;
}

.heroCardImgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}