.fox-wrapper {
  width: 350px;
  height: 350px;
  border: 2px dashed darkorange;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fox-wrapper > img {
  width: 100%;
  height: 100%;
object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; 
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемненный фон */
  display: flex;
  align-items: center;
  justify-content: center;
}